// Color palette variables
$color-dark-pink    : #CD5E7F;
$color-warm-pink    : #CA7A8B;
$color-muted-pink   : #BF9BA9;
$color-mint-green   : #A9BBB6;
$color-light-yellow : #FAF7E0;
$color-default-font : #3A3A3A;
$color-light        : #FFFFFF;

// Font variables
$font-paragraph     : 'Lato', Helvetica, Arial, sans-serif;
